<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="state_publisher">
  <gazebo>
    <plugin name="barista_robot_joint_state" filename="libgazebo_ros_joint_state_publisher.so">
      <ros>
          <namespace>/${robot_name}</namespace>
          <remapping>~/out:=joint_states</remapping>
      </ros>
      <update_rate>30.0</update_rate>
      <joint_name>left_wheel_joint</joint_name>
      <joint_name>right_wheel_joint</joint_name>
      <joint_name>front_caster_wheel_yaw_joint</joint_name>
      <joint_name>front_caster_wheel_roll_joint</joint_name>
      <joint_name>front_caster_wheel_pitch_joint</joint_name>
      <joint_name>back_caster_wheel_yaw_joint</joint_name>
      <joint_name>back_caster_wheel_roll_joint</joint_name>
      <joint_name>back_caster_wheel_pitch_joint</joint_name>
    </plugin>
  </gazebo>

</xacro:macro>

<xacro:macro name="differential_drive">

  <gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
      <ros>
        <namespace>/${robot_name}</namespace>
        <remapping>/cmd_vel:=cmd_vel</remapping>
      </ros>

      <!-- wheels -->
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>

      <!-- kinematics -->
      <wheel_separation>0.316</wheel_separation>
      <wheel_diameter>0.0704</wheel_diameter>

      <!-- limits -->
      <max_wheel_torque>1.0</max_wheel_torque>
      <max_wheel_acceleration>2.0</max_wheel_acceleration>

      <!-- output -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>

      <odometry_frame>${robot_name}/odom</odometry_frame>>
      <robot_base_frame>${robot_name}/base_link</robot_base_frame>

    </plugin>
  </gazebo>

</xacro:macro>

<xacro:macro name="laser_scanner_plugin">

  <gazebo reference="laser_scanner_frame">
    <sensor name="sensor_ray" type="ray">
        <pose>0 0 0 0 0 0</pose>
        <ray>
          <scan>
            <horizontal>
              <samples>200</samples>
              <resolution>1.0</resolution>
              <min_angle>-1.57</min_angle>
              <max_angle>1.57</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.1</min>
            <max>5.0</max>
          </range>
        </ray>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>50.0</update_rate>
        <plugin name="laser" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <namespace>/${robot_name}</namespace>
            <remapping>~/out:=scan</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <frame_name>${robot_name}/laser_scanner_frame</frame_name>
        </plugin>
      </sensor>
	</gazebo>

</xacro:macro>

</robot>